*{
    text-align: center;
}
.nav{
    all:unset;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 999;    
    flex: 1;
    margin-bottom: 1dvh;
    padding-top: 10px;
    filter: blur(10%);
    background-color: rgba(9, 9, 9,0.5);
}

.ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 1;    
}
.ul > .li{ 
    all:unset;
    gap: 10px;
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: Poppins;
}
.ul .link{
    all: unset;
}
