.input{
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px 0px 0px 10px ;
    outline: none;
    min-height: 2rem;
    color: rgb(200, 229, 255);
    background-color: #302f2f;
}
.input:focus{
    color: rgb(199, 207, 213);
}

.searchDiv{
    padding: 1dvh 1dvw;
    display: grid;
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(0,0,0,0.5);
    grid-template-columns: 3fr 1fr;
    border-radius: 10px ;
    position: sticky;
}
.searchButton{
    opacity: 0.5;
    border-radius: 0px 10px 10px 0px;
    background-color: #302f2f;
    color: aliceblue;
    border: 1px solid rgba(0,0,0,0.5);
}
.searchContainer{
    position: relative;
}
.songList{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 5px;
    margin-bottom: 30vh;
}
@media only screen and ((max-width:1075px) and (min-width:721px )){
    .songList{
    grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width:720px) {
    .songList{
    grid-template-columns: 1fr ;
    }
}
